<div class="app-shell">
    <mat-toolbar class="navbar-color mat-elevation-z8 p-0">
        <div class="nav-brand">
            <a routerLink="/" class="nav-image-link">
                <img class="nav-image-header" src="../../../assets/toolbar-header.jpg" alt="Tony's Inventory home" />
            </a>
        </div>

        <div class="nav-actions">
            <button mat-button routerLink="/" routerLinkActive="selected no-border txt-bold" class="custom-button">
                <mat-icon>home</mat-icon>
                <span>Home</span>
            </button>
            <button mat-button routerLink="/cars" routerLinkActive="selected no-border txt-bold" class="custom-button">
                <mat-icon>directions_car</mat-icon>
                <span>Cars</span>
            </button>
            <button mat-button routerLink="/gallery" routerLinkActive="selected no-border txt-bold" class="custom-button">
                <mat-icon>image</mat-icon>
                <span>Gallery</span>
            </button>
            <button mat-button routerLink="/parts" routerLinkActive="selected no-border txt-bold" class="custom-button">
                <mat-icon>build</mat-icon>
                <span>Parts</span>
            </button>
        </div>

        <div class="nav-quick-actions">
            <button mat-raised-button class="custom-button" (click)="openAddCarForm()">Add car</button>
            <button mat-raised-button class="custom-button" (click)="openAddPartForm()">Add part</button>
        </div>
    </mat-toolbar>

    <div class="page-content">
        <router-outlet></router-outlet>
    </div>
</div>